html{
   background-color: transparent;
   min-width: 441px;
}

body {
   background-repeat: no-repeat;
   background-size: cover;
   // background-position-x: -3vw;
   height: 99.7vh;
}
.visi{
   background-image: url(../images/hrGlass.jpg);
}
.invi{
   background-image: none;
   background: transparent;
   height: fit-content;
   width: fit-content;
   min-width: 321.92px;
   margin: auto;
}


//--------- title bar --------//
.title-bar {
 -webkit-app-region: drag;
 height: 40px; 
 background-color: transparent;
 padding: none;
 margin: 2px; 
}

.title {
 position: fixed;
 top: 8px;
 left: 10vw;
 color: rgba(245, 237, 237, 0.32);
 font-size: 1.1em;
 line-height: 1.5em;
}

.title-bar-btns {
 -webkit-app-region: no-drag;
 position: fixed;
 top: 0px;
 right: 10vw;
}
.title-bar-btns button {
   background-color: transparent;
   border: none;
   color: rgba(255, 255, 255,1);
   font-size: 1.5em;
   font-weight: 300;
   opacity: .5;
   transition: opacity .2s;
}
.title-bar-btns button:hover {
   opacity: .7;
   transition: opacity .2s;
}


//--------- form ----------//
.field {
   padding: .65em 1em;
   width: 21em;
   margin: 1.7em auto;
   border-radius: 5px;
   border: 1px solid rgba(250, 250, 250, 0.2);
   background-color: rgba(250,250,250,.28);
   box-shadow: 2px 2px 19px 0px rgba(0, 0, 0, 0.2);
}

.form-section {
   padding: .5em 0em;
}

.label {
   font-size: .95em;
   display: inline-block;
   vertical-align: bottom;
   color: rgb(150, 245, 207);
}

.field select {
   // background-color: rgba(250,250,250,.2);
   // color: white;
   // background-color: rgba(152, 152, 152, 0.27);
   // color: rgba(255, 255, 255, 0.84);
}

.field .input {
   // background-color: rgba(152, 152, 152, 0.27);
   // color: rgba(255, 255, 255, 0.84);
}

.name {
   width: 8.3em;
   display: inline-block;
}

.dob {
   display: inline;
}

.sex-section {
   padding-top: .2em;
}
.userInput .sex {
   display: inline;
}
.female-label {
   padding-left: .7em;
}

.bmi {
   width: 4.6em;
   display: inline-block;
}
.bmi-label {
   display: inline-block;
   font-size: .85em;
   margin-bottom: 0 !important;
}
//weight height inputs - arrows
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.exercise-select {
   width: 8em;
}

.optional {
   color: rgba(255, 255, 255, 0.73);
   font-size: .85em;
   vertical-align: bottom;
   font-style: italic;
   font-weight: 500;
   text-shadow: 1px 1px rgba(45,45,45,.25);
}

.submit-div:hover span{
   opacity: 1;
   transition: opacity .2s;
}
.submit-div span {
   vertical-align: bottom;
   font-size: .8em;
   color: #f3f3f3;
   font-weight: 700;
   opacity: 0;
   transition: opacity .2s;
}


//------------ clock -----------//
.hideBar {
   height: 7vw;
   margin: 0;
   opacity: 0;
   transition: opacity .2s;
}
body:hover .hideBar {
   opacity: 1;
   transition: opacity .2s;
}

.clock-wrap {
   width: fit-content;
   min-width: 321px;
   margin: auto;
}

.clock {
   margin: 1em auto;
   width: 73vw; 
   min-width: 320px;
   padding: .25em;
   padding-top: .4em;
   display: flex;
   border: 2px solid;
   border-radius: 10px;
   color: ghostwhite;
   background-color: rgba(51, 47, 47, 0.19);
   backface-visibility: hidden;
}

.clockSegment {
   display: flex;
   flex-direction: column;
   padding: 0em .9vw;
   width: 25%;
   backface-visibility: hidden;
}
.clockSegment span{
   text-align: center;
   font-size: 5vw;
   font-weight: 600;
}
.clockSegment label {
   text-align: center;
   font-size: 3.3vw;
   letter-spacing: .3px;
}

.colon {
   font-size: 6vw;
   line-height: 1em;
   font-weight: 600;
   width: .1em;
}

.removeClock, .addClock {
   height: .8em;
   left: 81.4vw;
   font-size: 1.35em;
   padding: 0.16em 0.12em;
   font-weight: 300;
   padding-bottom: 9px;
   opacity: .9;
   position: absolute;
   backface-visibility: hidden;
}
.removeClock {
   opacity: 0;
   transition: opacity .4s;  
   z-index: 4; 
}
.clock-wrap:hover .removeClock {
   opacity: .6;
   transition: opacity .4s;
   backface-visibility: hidden;
}

.clock-name {
   position: relative;
   width: 0;
   padding: 0;
   top: -1.5vw;
   left: 0vw;
   font-size: 2.5vw;
   font-weight: 700;
   text-shadow: 1px 1px rgba(0, 0, 0, 0.11);
   color: bisque;
}

.checkbox {
   font-size: 3.2vw;
   font-weight: 700;
   color: rgba(147, 255, 227, 0.87);
   text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.2);
}
.checkbox:hover {
   color: rgba(147, 255, 227, 1);
}